.spinner {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #06f0f0;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}